.login-container {
  display: flex;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

/* Left side - Form */
.login-left {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.login-card {
  width: 100%;
  max-width: 650px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.login-header {
  text-align: center;
  margin-bottom: 1rem;
}

.login-icon {
  color: #000;
}

.login-header h2 {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.login-header p {
  font-weight: 600;
  margin: 0.25rem 0;
}

.login-header span {
  color: #555;
  font-size: 0.9rem;
}

.login-form label {
  display: block;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.login-form input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 0rem;
}

.signin-btn {
  width: 100%;
  background: #0b0b23;
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 6px;
  margin-top: 1.5rem;
  cursor: pointer;
}

.error-message {
  background: #fee2e2;
  border: 1px solid #ef4444;
  color: #991b1b;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 8px;
  font-size: 14px;
}

.googleoauth {
  margin-top: 16px;
  padding: 12px;
  background: #f0f9ff;
  border: 1px solid #bae6fd;
  border-radius: 6px;
  text-align: center;
}

/* Right side - Image + Overlay */
.login-right {
  flex: 0.8;
  background: url('/public/loginImage.jpg') no-repeat center/cover;
  color: #000;
  display: flex;
  align-items: center;
  padding: 3rem;
}

.overlay-content {
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 12px;
}

.overlay-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.overlay-content p {
  margin-bottom: 1.2rem;
  color: #333;
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.info-item h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.info-item p {
  margin: 0.2rem 0 0;
  font-size: 0.9rem;
  color: #444;
}
